@font-face {
  font-family: SFPro;
  src: url("../public/fonts/SFPro/sfpro-text-regular.ttf");
}

@font-face {
  font-family: SFProDisplay;
  src: url("../public/fonts/SFPro/sfpro-display-regular.ttf");
}

@font-face {
  font-family: SFProSemibold;
  src: url("../public/fonts/SFPro/sfpro-text-semibold.ttf");
}

@font-face {
  font-family: SFProDisplayBold;
  src: url("../public/fonts/SFPro/sfpro-display-bold.ttf");
}

@font-face {
  font-family: SFMono;
  src: url("../public/fonts/SFPro/sfmono-regular.ttf");
}

.dark {
  --background-color: #1A1B26;
  --gradient-color-start: #1A1B26;
  --gradient-color-end: #1a1b2600;
  --accent-color: #549658;
  --font-color-primary: #ffffff;
  --font-color-primary-alt: #000000;
  --transparency: rgba(255, 255, 255, 0.05);
  --hover: #0d92ff;
  --opacity: 30%;
  --width: 100rem;
}

.light {
  --background-color: #FAFAFA;
  --gradient-color-start: #FAFAFA;
  --gradient-color-end: #fafafa00;
  --accent-color: #ab69a7;
  --font-color-primary: #000000;
  --font-color-primary-alt: #ffffff;
  --transparency: rgba(0, 0, 0, 0.05);
  --hover: #0d92ff;
  --opacity: 50%;
  --width: 100rem;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
	scrollbar-width: none;
  overflow-x: hidden;

}

html,
body {
  padding: 0;
  margin: 0;
  transition: all 1s;
  font-family: SFPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  /* width: 100vw; */
  overflow-x: hidden;
  background-color: var(--background-color);
  /* font-size: 2rem; */
}

body::-webkit-scrollbar{
	display: none;
}

h1 {
  font-size: 3.6rem;
  margin: .5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.main {
  padding: 2rem 0;
  display: flex;
  min-height: 95vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: var(--width);
  margin: 2rem auto;
}

.header {
  display: flex;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: var(--width);
  height: 15rem;
  justify-content: space-between;
  list-style-type: none;
  font-size: 2rem;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .header {
    height: 10rem;
		font-size: 1.2rem;
	}
}

.header .group {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header .left .brand-name {
  margin: 0 1rem;
}

.header .left svg {
  transition: all 1s;
  width: 5rem;
  height: 5rem;
  fill: var(--font-color-primary);
}

@media only screen and (max-width: 768px) {
  .header .left svg {
    height: 2.5rem;
    width: 2.5rem;
		font-size: 1rem;
	}
}

.nav-bg {
  position: relative;
  background-color: var(--font-color-primary);
  transition: all 1s;
  width: 100%;
}

/* @media only screen and (max-width: 768px) {
	.nav-bg {
    overflow-x: scroll;
	}
} */

.nav {
  display: flex;
  max-width: var(--width);
  transition: all 1s;
  font-size: 1.6rem;
  margin: 0 auto;
  background-color: var(--font-color-primary);
  color: var(--background-color);
}

.nav .button {
  margin: 1rem 2rem;
}

@media only screen and (max-width: 768px) {
  .nav {
    font-size: 1.2rem;
  }
  .nav .button {
    margin: 1rem 1.5rem;
  }
}
.main {
  max-width: var(--width);
  /* margin: 0 auto; */
  padding: 0 2rem;
  display: flex;
}

.main .vision {
  display: flex;
  flex-direction: column;
}

.main .vision .hero-title {
  padding: 2rem 0;
  font-size: 3.8rem;
}

.main .vision .hero-content {
  font-size: 2rem;
  line-height: 3.5rem;
  font: SFProSemibold;
}

@media only screen and (max-width: 768px) {
  .main .vision .hero-title {
    font-size: 2.8rem;
  }
  .main .vision .hero-content {
    font-size: 1.6rem;
  }
}

.hero-content .image img {
  border-radius: 512px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  height: 100vh;
  min-width: 100vw;
  transition: all 2s;
  background-image: linear-gradient(to bottom, var(--gradient-color-end), var(--gradient-color-start)), url(../public/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(var(--opacity));
}

@media only screen and (max-width: 768px) {
  .background {
    background-position: 80% 0;
  }
}

.main .stories {
  max-width: var(--width);
}

.main .stories .story-cards {
  display: flex;
  flex-direction: row;
  position: relative;
  width: var(--width);
}

.main .stories .story-cards .story-group {
  margin: 1rem 8rem 0 0;
  position: relative;
}
.main .stories .story-cards .story-group .marble-0 {
  position: absolute;
  left: 0rem;
  z-index: 5;
  /* top: 0rem; */
}
.main .stories .story-cards .story-group .marble-1 {
  position: absolute;
  left: 2.5rem;
  z-index: 10;
}

.main .stories .story-cards .story-group .marble-2 {
  position: relative;
  left: 5rem;
  z-index: 15;
}

.main .story-group .marble img {
  object-fit: cover;
  border-radius: 100rem;
  /* border: solid .5rem var(--transparency); */
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.25);
  /* opacity: 10%; */
}


.main .blog-cards {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* width: var(--width); */
}

.main .blog-timestamp {
  /* height: 2rem; */
  padding-right: 2rem;
  display: flex;
  align-items: center;
  border-right: .1rem solid var(--font-color-primary);
}

.main .blog-post {
  max-width: var(--width);
}

.main .blog-post .blog-date {
  color: var(--accent-color);
}

.main .blog-details {
  padding-left: 2rem;
}

.main .blog-title {
  font-size: 2rem;
}

.footer-bg {
  /* transition: all 2s; */
  background-color: var(--background-color);

}

.footer {
  color: var(--font-color-primary);
  display: flex;
  margin: 0 auto;
  font-size: 1.6rem;
  padding: 0 2rem;
  justify-content: space-between;
  max-width: var(--width);
  /* height: 20rem; */
  flex-direction: row-reverse;
  padding-bottom: 4rem;
}

.footer .group {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}

.footer .left {
  text-align: right;
}

.footer .right {
  display: flex;
  transition: all 1s;
  flex-direction: row;
}

.footer .button {
  margin: 1rem 2rem 1rem 0rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column-reverse;
    padding-bottom: 4rem;
    justify-content: flex-start;
  }

  .footer .left {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.6rem;
    
  }
  .footer .right {
    font-size: 1.2rem;
    justify-content: flex-end;
  }

  .footer .button {
    display: flex;
    margin: 2rem 0rem 2rem 2rem;
  }
}